@font-face {font-family: 'Roboto'; src: url(../fonts/Roboto-regular.ttf);}

html {
    background: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    max-width: 800px;
    background: #f5f5f5;
}

a {
    color: #1f62b5;
    text-decoration: inherit;
}

.headline {
    margin: 0;
    padding: 10px;
    color: #ffffff;
    background: #1A99C2;
}

.content {
    padding: 10px;
}

.article-info {
    margin-top: 8px;
    font-size: 0.9em;
    font-style: italic;
}

.tags {
    display: flex;
    align-items: center;
}

.tag {
    color: white;
    background: #1a99c2;
    padding: 5px;
    margin-left: 5px;
    border-radius: 20px;
}

.write-comment {
    display: block;
    margin: 10px 0;
    width: 400px;
    height: 100px;
    resize: none;
}

.comment {
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.comment-title {
    font-weight: bold;
}

.comment p {
    margin: 5px 0 8px;
}

.comment-info {
    font-size: 0.8em;
    font-style: italic;
}

.text-label {
    display: block;
    margin: 10px 0;
}